.container1{
    display: flex;
    height: 200px;
}

.container1 .item{
    width: 100%;
    margin:10px; 
    background-color: lightblue;
}

.container2{
    display: flex;
    height: 200px;
}

.container2 .item{
    width:100%;
    margin:10px; 
    background-color: pink;
    flex-basis: 200px;
}

.grow {
    flex-grow: 2;
}

.container3{
    display: flex;
    height: 200px;
}

.container3 .item{
    width:100%;
    margin:10px; 
    background-color: lightsalmon;
}

.shrink{
    flex-shrink: 1.5;
}

.container4{
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.container4 .item{
    width: 300px;
    margin:10px; 
    background-color: green;
}

.container5{
    display: flex;
    justify-content: center;
    height: 200px;
}

.container5 .item{
    width: 300px;
    margin:10px; 
    background-color: yellow;
}

.container6{
    display: flex;
    justify-content: center;
    height: 200px;
}

.container6 .item{
    width:300px;
    margin:10px 30px;
    background-color: plum;
}
.container7{
    display: flex;
    justify-content: flex-end;
    height: 200px;
}

.container7 .item{
    width:200px;
    margin:10px;
    background-color:palegreen;
}

.container8{
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.container8 .item{
    width: 200px;
    margin:10px;
    background-color: palevioletred;
}

.item_container{
    display:flex;
}